body{
  background-color: #f6f6f6;
}


.navbar {
    background-color: #3b72f6 !important; /* Azul escuro */
    padding: 15px;
  }
  
  .navbar-brand {
    color: #f6f6f6 !important;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-link {
    color: white !important;
    font-size: 1.1rem;
    transition: 0.3s;
  }

  .nav-link:hover {
    color: #ffcc00 !important; /* Amarelo no hover */
  }

  .navbar-toggler {
    border: none;
  }

  .dropdown-menu {
    background-color: #003366; /* Mantém o fundo azul */
  }

  .dropdown-item {
    color: white !important;
  }

  .dropdown-item:hover {
    background-color: #ffcc00;
    color: black !important;
  }


  .btn-primary{
    color: #0e2842 !important;
    border-color: #003366 !important;
  }

  .btn-primary:hover {
    background-color: #002244 !important;
    border-color: #002244 !important;
}

.container {
  color: #f6f6f6 !important;
}

#bg-main{
  background-color: #222222 !important;
}



/* HERO SECTION */
