.navbar {
    background-color: #003366 !important; /* Azul escuro */
    padding: 15px;
  }
  
  .navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-link {
    color: white !important;
    font-size: 1.1rem;
    transition: 0.3s;
  }

  .nav-link:hover {
    color: #ffcc00 !important; /* Amarelo no hover */
  }

  .navbar-toggler {
    border: none;
  }

  .dropdown-menu {
    background-color: #003366; /* Mantém o fundo azul */
  }

  .dropdown-item {
    color: white !important;
  }

  .dropdown-item:hover {
    background-color: #ffcc00;
    color: black !important;
  }